@import './vars/color.less';
@import './vars/size.less';

body {
  --yellow: @high-light-color;
  --bg: #ffffff;
  --header: var(--pink);
  --text-normal: #000;
  --text-title: #222;
  --text-link: #d23669;
  --hr: #a7adba;
  --footer-bg: #fafafa;
  --logo: #000;
  --site-desc: #65737e;
  --site-nav: #343d46;
  --inline-code-fg: rgba(49, 51, 51, 0.9);
  --inline-code-bg: rgba(255, 233, 87, 0.4);

  color: var(--text-normal);
  background-color: var(--bg);
  transition: background-color 0.3s, color 0.3s;
}

body {
  &.dark {
    -webkit-font-smoothing: antialiased;

    --yellow: hsl(222, 14%, 25%);
    --bg: #282c35;
    --header: #ffffff;
    --text-normal: rgba(255, 255, 255, 0.88);
    --text-title: #ffffff;
    --text-link: var(--pink);
    --hr: hsla(0, 0%, 100%, 0.2);
    --footer-bg: #242830;
    --logo: #fff;
    --site-desc: rgba(255, 255, 255, 0.88);
    --site-nav: rgba(255, 255, 255, 0.88);
    --inline-code-fg: #e6e6e6;
    --inline-code-bg: #373c49;
  }
}
