* {
  box-sizing: border-box;
}

html {
  font-size: 14px !important;
}

body,
html {
  height: 100%;
  line-height: 1;
  font-family: 'Merriweather', 'Georgia', serif;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0 auto;
  scroll-behavior: smooth;
}

strong {
  font-weight: bold;
}

button,
a {
  color: inherit;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  transition: text-shadow 0.3s;
  white-space: pre-wrap;
  word-break: break-all;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none !important;
  }
}
