$container-fixed: 630px;
$high-light-color: rgba(34, 241, 179, 0.6);

body {
  --main: #1cc794;
  --text-title: #222;
  --bg: #fff;
  --text-normal: #000;
  --text-title: #222;
  --text-link: #d23669;
  --hr: #a7adba;
  --footer-bg: #fafafa;
  --logo: #000;
  --site-desc: #65737e;
  --site-nav: #343d46;
  --inline-code-fg: rgba(49, 51, 51, 0.9);
  --inline-code-bg: rgba(34, 241, 179, 0.4);
  --blockquote-bg: #f9f9f9;
  --blockquote-bl: #ccc;

  color: var(--text-normal);
  background-color: var(--bg);
}

body {
  &.dark {
    --main: #20f1b4;
    --text-title: #fff;
    --bg: #282c35;
    --header: #fff;
    --text-normal: rgba(255, 255, 255, 0.88);
    --hr: hsla(0, 0%, 100%, 0.2);
    --footer-bg: #242830;
    --logo: #fff;
    --site-desc: rgba(255, 255, 255, 0.88);
    --site-nav: rgba(255, 255, 255, 0.88);
    --inline-code-fg: #e6e6e6;
    --inline-code-bg: #373c49;
    --blockquote-bg: #242830;
    --blockquote-bl: #ccc;
    -webkit-font-smoothing: antialiased;
  }
}

::selection {
  background: $high-light-color;
}

.cs-container {
  margin: 0 auto;
  padding: 0 21px 42px;
  max-width: $container-fixed;
}

.cs-title {
  margin: 20px auto;
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  font-family: 'Montserrat', serif;
  color: var(--text-title);
  sup,
  sub {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }
  sup {
    position: relative;
    top: -12px;
  }
}

.cs-text {
  margin-bottom: 10px;
  line-height: 1.3;
  font-size: 14px;
  color: var(--text-normal);
  word-break: break-all;
  white-space: wrap;
  a {
    text-decoration: underline;
  }
  small {
    font-size: 0.6em;
  }
}

.cs-list {
  margin: 16px auto;
  padding-left: 30px;
  list-style-type: disc;
  &__item {
    display: list-item;
    list-style: inherit;
    line-height: 1.5;
    word-break: break-all;
    white-space: wrap;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .cs-header-anchor {
    float: left;
    margin-left: -30px;
    box-shadow: none;
    opacity: 0;
    transition: opacity 0.3s;
  }
  &:hover {
    .cs-header-anchor {
      opacity: 1;
    }
  }
}
